/opencv_proj/ipch
/opencv_proj/_ReSharper.opencv_proj
/opencv_proj/opencv_proj/Debug
/opencv_proj/*.suo
/opencv_proj/*.opensdf
/opencv_proj/*.sdf
/opencv_proj/*.user
/opencv_proj/decoder/Debug
